<template>
  <div>
    <div class="container">
      <h2>Basic Table</h2>
      <table class="table">
        <thead>
          <tr>
            <th>latitude</th>
            <th>longitude</th>
            <th>generationtime_ms</th>
            <th>timezone</th>
            <th>timezone_abbreviation</th>
            <th>elevation</th>
            <th></th>
          </tr>
        </thead>
        <tbody v-if="dataclimatique.length">
          <tr v-for="(item, index) in dataclimatique" :key="index">
            <th>{{ item.latitude }}</th>
            <th>{{ item.longitude }}</th>
            <th>{{ item.generationtime_ms }}</th>
            <th>{{ item.timezone }}</th>
            <th>{{ item.timezone_abbreviation }}</th>
            <th>{{ item.elevation }}</th>
            <td>
              <button
                @click="deleteclimatique(item.id)"
                class="btn btn-dark m-2"
              >
                supprem
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</template>

<script>
export default {
  created() {
    var data = [
      {
        id: 2,
        latitude: 28.5,
        longitude: -10,
        generationtime_ms: 0.3648996353149414,
        utc_offset_seconds: 0,
        timezone: "GMT",
        timezone_abbreviation: "GMT",
        elevation: 573,
      },
    ];
    this.$store.commit("setdataclimatique", data);
  },
  methods: {
    deleteclimatique(id) {
      var data = this.$store.dispatch("deleteclimatique", id);
    },
  },
  computed: {
    dataclimatique() {
      return this.$store.getters.getdataclimatique;
    },
  },
};
</script>

<style>
</style>