<template>
  <div>modal





  <div id="modal" class="modal modal-fixed-footer">
    <div class="modal-content">
      <h4 class="center-align">Edit</h4>
      <p class="center-align">Edition form. Update informations</p>
      <div class="row">
        <form class="col s12">
          <div class="row">
            <div class="input-field col s6">
              <input placeholder="John" id="last_name" type="text" v-model="editInput.lname">
              <label for="last_name">Last Name</label>
            </div>
            <div class="input-field col s6">
              <input placeholder="Doe" id="first_name" type="text" v-model="editInput.fname">
              <label for="first_name">First Name</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s6">
              <input placeholder="26" id="edit_age" type="text" v-model="editInput.age">
              <label for="edit_age">Age</label>
            </div>
            <div class="input-field col s6">
              <input placeholder="Teacher" id="edit_job" type="text" v-model="editInput.job">
              <label for="edit_job">Job</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <input placeholder="Address" id="edit_address" type="text" v-model="editInput.address">
              <label for="edit_address">First Name</label>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="modal-footer">
      <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Close</a>
      <a href="#!" @click="update" class="btn waves-effect waves-light"><i class="material-icons">edit</i></a>
    </div>
  </div>
  </div>
</template>

<script>
export default {

}
</script>

<style>

</style>